@font-face 
{
    font-family: 'droid_sansregular';
    src: url('../images/DroidSans-webfont.eot');
    src: url('../images/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/DroidSans-webfont.woff') format('woff'),
         url('../images/DroidSans-webfont.ttf') format('truetype'),
         url('../images/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin-left: 400px;
    margin-right: 400px;
               background-image: url('../images/greyzz.png');             
}

.header{
    display: block;
    
    
}



.hero .hero_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
   
   
}
.hero_header  img{        
    width: 160px;
    height: 120px;
    padding: 15px;
    border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;       
}

.header .content{
    display: flex;
    justify-content: space-between;
}
.hero_header div p span{
    background-color: rgb(10, 97, 220);
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.hero #paragraphe{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2px;
}


h1,h2{
               font-family: 'droid_sansregular', 'Arial', sans-serif;
               
               
}


h2{
               
               color: #6E4A46;
               
}







li{
               list-style-type: none;
}
.liste-conpetence{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
    
}
.contenu .github{
    display: flex;
    align-items: center;
    border: 1px solid;
    width: 45%;
    padding: 12px;
    margin-bottom: 10px;
}

.contenu .liste-conpetence #color-css{
    background-color: rgb(131, 131, 196);
    display: flex;
    align-items: center;
    border: 1px solid;
    width: 45%;
    padding: 12px;
    margin-bottom: 10px;
}






